.list {
    padding-top : 45px;
}

body, html {
    height: 100%;
  }
  .bk {
    background-image: url("https://www.macmillandictionary.com/external/slideshow/full/White_full.png");
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 50px; */
    }

.hd {
  font-size:80px;
  color:#FF6F00;
}

.card-media {
  height: 140;
}
.title{
  font-size: 7px;
}

.card {
  width: 50;
  display: inline-block;
}

.button {
  margin-left: -80%;
}