.list {
    padding-top : 100px;
}

body, html {
    height: 100%;
  }
  .bk {
    background-image: url("https://www.macmillandictionary.com/external/slideshow/full/White_full.png");
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    }

.card {
  margin-left: 8%;
  background-color: #FF6F00;
}

.hd {
  font-size:80px;
  color:#FF6F00;
}
