.textFieldWrapper {
    vertical-align: center;
    padding-top: 1%;
}

.textField {
   padding: 0.5%;
   margin-bottom: 30px;
   font-size:18px;
}

.logo {
    margin-top: 5%;
    font-size: 100px;
    color:orange;
}

.button {
  padding-top: 50px;
}